body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
}

a {
    color: #28a745;
}
a:hover {
    color: #28a745;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #28a745;
}
.nav-link {
    position: relative;
}
.nav .bi-chevron-down {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
}
.nav-sub li {
    display: block;
}

table tr .operation {
    width: 150px;
}

table tr .operation .btn-link:hover {
    cursor: pointer;
}

.alert {
    display: none;
}

.header {
    /* background-color: #f8f9fa; */
    background-color: #e4e6e7;
}
.header .navbar, .container {
    /* max-width: 960px; */
    margin: 0 auto;
}

.header .form-inline {
    margin-left: 20px;
}
.header .search {
    margin-right: 10px;
}

.header .user .nav-link{
    display: inline-block;
}

.header .user .btn-login {
    color: #28a745;
}
.header .user .btn-register {
    color: #333;
}

.carousel-home {
    height: 500px;
}

.movie-list {
    padding: 20px 0;
}

.movie-list .card {
    width: 250px;
    margin: 0 10px;
    float: left;
}
.movie-list::after {
    content: "";
    display: block;
    clear: both;
}
.movie-list .card {
    text-align: center;
}
.movie-list .card-text {
    text-align: left;
}
.movie-list .card .btn {
    color: #fff;
}
.movie-list .card-title {
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}
.movie-star {
    color: #f5c518;
    vertical-align: middle;
}

.movie-body .row, .movie-body .col, .movie-body [class^=col-] {
    margin: 0;
    padding: 0;
}
.item-name {
    text-align: right;
}

.table-movie .movie-intro {
    height: 2.6em;
    overflow-y: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.movie-form-container {
    padding-bottom: 20px;
}

.container-register, .container-login {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f5f8f5;
}
.container-register .btn, .container-login .btn {
    width: 100%;
    background-color: #28a745;
}

.user-center {
    padding-top: 20px;
}
.user-center .profile .alert {
    margin-top: 20px;
}


/* news */
.news-item {
    /* display: block; */
    margin: 0;
    margin-bottom: 20px;
}

.news-item .news-img {
    /* width: 150px;
    height: 160px;
    box-sizing: border-box; */
    padding: 0;
    flex-grow: unset;
}
.news-item .news-img img{
    /* display: block; */
    /* max-width: 150px;
    max-height: 160px; */
    width: 150px;
    height: 160px;
}

.news-item .news-title {
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
.news-item .news-time {
    margin-bottom: .5rem;
}
.news-item .news-content {
    height: 2.5em;
    text-indent: 2em;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.movie-detail,
.news-detail {
    padding: 20px 0;
}
.news-detail .news-time {
    color: #666;
}
.movie-detail .img-box,
.news-detail .img-box {
    text-align: center;
}
.movie-detail img,
.news-detail img {
    /* float: left; */
    /* margin-right: 20px; */
}
.movie-detail .movie-body,
.news-detail .news-body {
    font-size: 16px;
    line-height: 1.5;
    text-indent: 2em;
}
.movie-detail .movie-body,
.news-detail .news-body {
    overflow: hidden;
}