<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie list | <%- site.name -%> - <%- site.desc -%></title>
    <%- include("../common-link.html"); %>
</head>

<body>
    <%- include("../header.html"); %>
    <div class="main">
        <div class="container user-center">
            <div class="row">
                <div class="col-3">
                    <%- include("../components/user/nav.html", {active: 'news/list'}); %>
                </div>
                <div class="col-9">
                        <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                            <%- include("../components/news/list.html"); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../common-js.html"); %>
    <script>
        function deleteNews(id) {
            $.ajax({
                url: '/news/' + id + '/delete',
                method: 'post',
                success: function (data) {
                    location.href = location.href;
                }
            });
        }
    </script>
</body>

</html>